<launch>
    <node pkg="self_calibration_v4" type="self_calibration_v4" 
          name="self_calibration_v4" output="screen">
        
        <!-- 坐标系设置 -->
        <param name="lidar_frame" type="string" value="velodyne" />
        <param name="base_frame" type="string" value="base_link" />

    </node>

</launch>
